:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* max-width: 1100px; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  overflow: hidden;
}

.app-wrapper {
  border: 1px solid black;
  border-radius: 12px;
  width: 90vw;
  height: 92vh;
  /* max-width: 1100px; */
  padding: 4px;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.bottom-actions-bar-container {
  /* background: #dbd3d3; */
  /* margin-top: 0.5em; */
  /* margin-bottom: 10em; */
  z-index: 2;
  width: 50%;
  position: relative;
  top: 0.6em;
  height: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.chapter-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 100%;
  border: 1px solid black;
  overflow-x: hidden;
}

.chapters-item {
  margin-top: 1em;
  background: grey;
  width: 80%;
  border-radius: 12px;
  margin-right: 1em;
}

.chapter-item-closed {
  text-align: right;
  margin-right: 1em;
  font-size: 1.1em;
}

.chapter-title {
  background: rgba(0, 0, 0, 0.908);
  color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 1em;
  margin-left: 4em;
  height: 2em;
  font-size: 1.2em;
}

.checklist-container {
  background: rgba(55, 11, 11, 0.168);
  /* background: #2b4cd8; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border-top-left-radius: 12px;
  /* overflow: scroll; */
}

.checklist-content {
  background: rgba(0, 0, 0, 0.745);
  /* background: rgb(248, 224, 224); */
  /* flex: 6; */
  /* height: 20em; */
  height: 100%;
  margin-top: 1em;
  border-bottom-left-radius: 12px;
  padding: 3px;
  overflow-y: scroll;
}

.checklist-list-items {
  border-bottom: 1px solid white;
  text-align: right;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.checklist-full-chapter-wrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  color: white;
}

.content-list {
  border-top: 1px solid black;

  /* max-height: 100%; */
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  /* max-height: 20em; */
  /* flex: 1; */
  /* overflow: scroll; */
  /* overflow-y: auto; */
}

.content-navbar {
  height: 6em;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background: rgba(128, 128, 128, 0.645);
  /* flex: 1; */
}

.content-navbar-holder {
  display: flex;
  align-items: center;
  height: 100%;
}

.dropdown-container {
  margin-right: 1em;
}

.operational-checklist-wrapper {
  height: 100%;
  display: flex;
}

.search-dropdown-option {
  font-weight: bold;
}

.tasks-container {
  width: 74%;
  /* margin-right: 5em; */
  margin-right: 1.5em;
}

.task-item {
  background: rgba(48, 47, 47, 0.168);
  border-radius: 12px;
  margin-right: 0em;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.641);
}

.temp-btn {
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-left: 1em;
}

.vertical-align {
  display: flex;
  align-items: center;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 1300px) {
}
